.loader__container {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    flex-direction: column;
    align-items: center;
}

.loader__wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* border: 3px dashed teal; */
    animation: loaderAnim2 2s infinite ease-in-out;
    background-color: rgba(0, 170, 255, 0.1);
    display: flex;
    justify-content: center;
    margin-top: 4%;
    flex-direction: column;
    align-items: center;
}

.loader {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    /* border: 3px dashed teal; */
    animation: loaderAnim 2s infinite linear;
    background: url(../../../static/avito.jpg) no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #fff;
}


/* #active {
    display: flex;
    animation: loaderAnim 1s infinite linear;
} */

@keyframes loaderAnim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes loaderAnim2 {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}